@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*,
*:hover {
  scrollbar-color: auto;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border: solid 1px rgba(17, 17, 17, 0.2);
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}